@font-face {
    font-family: MyriadLight;
    src: url(../fonts/Myriad_Pro_Regular.ttf);
}

@font-face {
    font-family: MyriadBold;
    src: url(../fonts/Myriad_Pro_Bold.ttf);
}

html {
  margin: 0px;
}

body {
  margin: 0px;
  background-color: #1f1f1f;
}

p {
  margin: 0px;
  font-family: MyriadLight;
}

h5 {
  margin: 0px;
  color: white;
  font-family: MyriadLight;
  font-size: 20px;
}

.nav-container {
  width: 100%;
  padding-top: 50px;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-buttons {
  margin-top: 20px;
}

ul {
    display: flex;

}

a {
    text-decoration: none;
    color: #FFF;

}

.active {
  font-family: MyriadBold;
}

li {
  font-family: MyriadLight;
  list-style-type: none;
  font-size: 1.3rem;
  padding: 10px 50px 10px 50px;
  border-radius: 50px;
}

a:hover {
  color: grey;
  transition: 1s ease;
}

.line-container {
  margin-top: 50px;
  width: 100%;
  height: 40px;
  display: inline-flex;
  align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #C02675), color-stop(100, #DB1653));
}

.line-container>h5 {
  padding-left: 448px
}

.tv-container {
  width: 100%;
  display: inline-flex;
}

.channel-container {
  width: 300px;
  height: 100%;
  background-color: #1f1f1f;
  box-shadow: 7px 0px 18px 2px rgba(0,0,0,0.26);
}

.channel-container>h5{
  text-align: center;
  padding: 115px 0px 81px 0px;
}

.block-container {
  width: 500px;
  height: 200px;
  background-color: #323232;
  margin-left: 20px;
  margin-top: 20px;
}

.short-block-container {
  width: 300px;
  height: 200px;
  background-color: #323232;
  margin-left: 20px;
  margin-top: 20px;
}

.arrowbox {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.arrowbox>img {
  height: 20%;
}

.text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.box-title {
  margin: 0px;
  color: #FFF;
  font-family: MyriadBold;
  font-size: 1.5rem;
  padding: 20px 0px 0px 20px;
}

.box-time {
  color: #FFF;
  font-family: MyriadLight;
  padding-bottom: 10px;
  padding: 0px 0px 0px 20px;
}

.box-desc {
  width: 85%;
  color: #FFF;
  font-family: MyriadLight;
  padding: 20px 0px 0px 20px;
}

.box-progress {
  width: 100%;
  height: 8%;
  background-image:-webkit-gradient(linear, right top, left top, color-stop(0, #C02675), color-stop(100, #DB1653));
  position: absolute;
  bottom: 0;
}

.box-title-next {
  margin: 0px;
  color: #FFF;
  font-family: MyriadBold;
  font-size: 1.5rem;
}

.box-time-next {
  color: #FFF;
  font-family: MyriadLight;
}

.text-container-next {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}